{% extends "layout_components/Layout.html"%}
{% block body %}

<div class="projects-index">

    {% for project in projects %}

    <div class="project-card">
        
        <h1>{{ project.title }}</h1>
        <div class="project-img">
            <img src="{{project.img_url}}" alt="project screenshot">
        </div>
        <p>{{project.description}}</p>
        
        {% for tag in project.tags.split(',') %}
            
            <div class="tag">{{tag}}</div>
        
        {% endfor %}

        <footer>
            
            {% if project.github %} 

                <h4>github: {{ project.github }}</h4>

            {% endif %}

            {% if project.live %} 

                <h4>live: {{ project.live }}</h4>

            {% endif %}

        </footer>
    </div>

    {% endfor %}

</div>

{% endblock %}