{% extends "layout_components/Layout.html"%}
{% block body %}
<section class="profile-pic">
    <div>
        <img 
            src="../static/img/prof_b_w.jpg"
        />
    </div>
</section>
<section class="description">
    <p >
        Francesco Vertemati
        Italian born,
        adopted American, trained chef, Software Engineer
        to fullfill the inner kid's dream. I love legos, trains,
        rockets, weird physics, stars, and disassembling things.
        And pizza. A lot.
    </p>
</section>

{% endblock %}
