.description {
  text-align: right;
  animation: fadeInLeft ease 3s;
  animation-fill-mode: forwards;
  width: 80%;
  align-self: flex-start;
  opacity: 0;
  margin-bottom: 15px;
}

.profile-pic {
  width: 80%;
  align-self: flex-start;
  box-shadow: none;
  border-radius: 0;
  animation: fadeInRight ease 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  border: none;
  box-shadow: 3px 0 var(--second-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  margin-top: 200px;
}

.profile-pic img {
  width: 100%;
  border-radius: 50%;
  border: solid 2px var(--second-color);
}

@media screen and (min-width: 700px) {
  .profile-pic {
    justify-content: flex-start;
  }
  .profile-pic img {
    margin-left: 40%;
    border: solid var(--second-color) 4px;
  }
}

@media screen and (min-width: 900px) {
  .profile-pic {
    margin-top: 40px;
  }
}
