.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: flex-start;
  align-self: flex-start;
  width: 100%;
  height: 20vh;
  background-color: var(--main-color);
}

.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 50%;
  margin: 10px 200px 10px;
}

.navbar li {
  margin: 10px 0;
  font-size: 20px;
}

.content {
  background-color: var(--main-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show {
  background-image: url('../img/texture.jpg');
  background-size: contain;
  background-position: center;
  width: 100%;
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  color: rgba(202, 187, 170, 1);
  font-size: 70px;
  margin: 10px 0 10px 200px;
  animation: fadeInRight 3s forwards ease;
}

#flash {
  display: none;
  width: 50%;
  background-color: rgba(255, 240, 204, 0.5);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  justify-content: center;
  top: 5px;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}
