.projects-index {
  margin: 120px 50px 50px 50px;
  padding: 20px;
  display: flex;
  width: 100%;
}

.project-card {
  background-color: rgba(255, 240, 204, 0.5);
  margin: 15px 30px 0 0;
  cursor: pointer;
  width: 300px;
  height: 350px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 4px var(--main-color-), 14px 14px 4px var(--second-color);
  position: relative;
  border: 1px solid var(--main-color-);
}

.project-card h1 {
  margin: 5px 0;
}

.project-img {
  border: 4px var(--main-color-) solid;
  margin-bottom: 5px;
  padding: 1px;
}

.project-img img {
  width: 100%;
  pointer-events: none;
}

.project-card section {
  display: flex;
  font-size: 15px;
  color: #4e040b;
  font-weight: 600;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.tag {
  border: 1px solid var(--main-color-);
  border-radius: 10px;
  padding: 3px 5px;
  margin: 1px 1px 1px 0;
}

.project-card footer {
  position: absolute;
  text-align: right;
  padding: 5px 0;
  bottom: 5px;
  right: 0;
  left: 0;
  width: 80%;
  margin: 0 auto;
}

.description-box {
  display: none;
  opacity: 0;
}

.description-visible {
  opacity: 1;
  display: flex;
  position: fixed;
  /* background-color: var(--main-tr); */
  color: var(--second-color);
  top: 21vh;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  width: 50%;
  animation: fadeInLeft 1s forwards;
  border-bottom: 1px var(--second-color) solid;
}
