<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>vertefra</h1>
        <ul id="menu">
            <li><a href="#ilike">iLike#</a></li>
            <li><a href="#projects">projects#</a></li>
            <li><a href="#contactMe">contactMe#</a></li>
        </ul>
    </div>
    {% block title %}{% endblock %}
    
</body>
</html>