    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">

        <script type="text/javascript" src="{{ url_for('static', path='/scripts/scripts.js')}}"  ></script>


        <link href="{{ url_for('static', path='/style/style.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/style/layout.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/style/index.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/style/normalize.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/style/project-create.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/style/project-index.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/style/about.css') }}" rel="stylesheet">

        <script type="text/javascript" src="{{ url_for('static', path='/scripts/messages.js')}}" ></script>
        <script type="text/javascript" src="{{ url_for('static', path='/scripts/index.js')}}" ></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %} welcome {% endblock %} - vertefra</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="content">
                <div id="flash">
                {{ flashMessage }}
                </div>
                <div class="navbar">    
                    <h1 class="brand section">vertefra</h1>
                    <ul id="menu">
                        <li><a href="/">iLike#</a></li>
                        <li><a href="/projects/">iDo#</a></li>
                        <li><a href="/about">iKnow#</a></li>
                    </ul>
                </div >
                <div class="show">{% block body %}{% endblock %} </div>       
            </div>
            <div>
                <footer class="footer">
                    <div class="contacts"> 
                        <div>
                            <a href="mailto:francesco@vertefra.com" target="_blank">
                                <h3>#Email</h3> 
                            </a>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/francesco-vertemati/" target="_blank">
                                <h3>#Linkedin</h3>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.github.com/vertefra" target="_blank">
                                <h3>#GitHub<h3>
                            </a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>