{% extends "layout_components/Layout.html"%}
{% block body %}

<section class="about">
    <p >
        <span>Stacks and technical Skills:</span>
        <div class="language">
            <h3>HTML5, CSS</h3>
            <p class="proficiency">You really have to know this two guys</p>
        </div>

        <div class="language">
            <h3>JavaScript</h3>
            <p class="proficiency">
                Proficient and to work with
                as a scripting language to "animate" the web and as a language to 
                create complex logics, with OOP and functional programing. 
                Familiar with pre-ES6 syntax
                but feel more confortable with all the newest syntax. 
            </p>
        </div>

        <div class="language">
            <h3>Python</h3>
            <p class="proficiency">
                Good understanding, I'm able to write fairly complex logics and use tools
                for web development. I would like to go in deep in python as a tool
                for machine learnig as soon as I feel a stronger confidence with it.  
            </p>
        </div>

        <div class="language">
            <h3>Go</h3>
            <p class="proficiency">
                Actively learning. I have a general grasp on all the syntax and I can create
                basic logics with it. Still need to explere in depth data types.   
            </p>
        </div>

        <div class="language">
            <h3>TypeScript</h3>
            <p class="proficiency">
                As a JavaScript subset and studing in paralell Go I can say that I have a really 
                good understanding of it and I'm trying to write my first app with TypeScript
            </p>
        </div>


        <div class="stacks">
            <h3>React</h3>
            <p class="proficiency">
                Proficient in creating fairly complex logics managing states globally or locally
                with redux or hooks. Familiar with class components but more confident with newer 
                functional components and state handling
            </p>
        </div>
    </p>
</section>

{% endblock %}
